<!-- RENDER PARA ALERTAS DE MENSAJES -->
<div class="result-search">
	<div class="row">
		<div class="col">
			<%= render 'layouts/messages' %>
		</div>
	</div>
</div>


<!-- AGREGAMOS LOS RESULTADOS DE SEARCH STOCK -->

<% if @stock %>
	<div class="card card-header result-search">
		<strong>Symbol : </strong><a class="font-italic"><%= @stock.ticker %>  </a>
		<strong>Company name : </strong><a class="font-italic"><%= @stock.name %>  </a>
		<strong>Last price : </strong><a class="font-italic text-danger"><%= @stock.last_price %></a>
		<!--Muestra el boton de add portfolio solo si no esta rastreando el stock solicitado -->
    <% if current_user.can_track_stock?(@stock.ticker) %>
			<%= link_to 'Add portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker),
		 											        class:"btn btn-success", method: :post	%>															
    <% else %>
      <span class="badge badge-lig">
        You are already tracking
        <% if !current_user.under_stock_limit? %>
         10 stocks
        <% end %>
        <% if current_user.stock_already_tracked?(@stock.ticker) %>
        this stock
        <% end %>
      </span> 
    <% end %>
  </div>
<% end %>
