 <!--NAVBAR CON BOOTSTRAP -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
      <!-- <a class="navbar-brand font-weight-bolder" href="#">FinanTrack</a>-->
      <%= link_to 'FinanTrack', root_path, class:"navbar-brand font-weight-bolder" %>
       <% if current_user %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-2 mt-2 h4">
            <li class="nav-item <%= 'active' if request.path == my_portfolio_path%>">
              <%= link_to 'Portfolio', my_portfolio_path, class:"nav-item nav-link " %>
            </li>
          </ul>
          
          <ul class="navbar-nav ml-auto">
          <li class="nav_item navbar-username">
            <%= fa_icon 'user' %> <%= current_user.full_name %>
          </li> 
            <li class="nav-item">
              <%= link_to 'Logout', destroy_user_session_path, class:"btn btn-danger", method: :delete %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>